<nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light">
  <a class="shadow navbar-brand" href="/book">
    <img src="https://www.mirf.ru/wp-content/uploads/2015/10/litres_logo_square.png" width="75"/>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link text-danger dropdown-toggle" data-bs-toggle="dropdown" href="/book" role="button" aria-expanded="false">Жанры</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book">Главная</a></li>
          <li><a class="dropdown-item" href="/book/genres/6123ad89c96ebe0e8ca3b5f9">Приключения</a></li>
          <li><a class="dropdown-item" href="/book/genres/6123ad7dc96ebe0e8ca3b5f7">Фантастика</a></li>
          <li><a class="dropdown-item" href="/book/genres/6123ad72c96ebe0e8ca3b5f5">Детективы</a></li>
          <li><a class="dropdown-item" href="/book/genres/6123ad52c96ebe0e8ca3b5f1">Исторические</a></li>
          <li><a class="dropdown-item" href="/book/genres/6123ad68c96ebe0e8ca3b5f3">Детские</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Приключения</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book/6123bfc26ad0a312b8d82a7a">Белый Клык</a></li>
          <li><a class="dropdown-item" href="/book/6123bff16ad0a312b8d82a7c">Алхимик</a></li>
          <li><a class="dropdown-item" href="/book/6123c02f6ad0a312b8d82a7e">Морской волк</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Фантастика</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book/6123bed96ad0a312b8d82a74">Задача трех тел</a></li>
          <li><a class="dropdown-item" href="/book/6123bf256ad0a312b8d82a76">Темный лес</a></li>
          <li><a class="dropdown-item" href="/book/6123bf606ad0a312b8d82a78">Игра Эндера</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Детективы</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book/6123bdb76ad0a312b8d82a6e">Убийство на улице Морг</a></li>
          <li><a class="dropdown-item" href="/book/6123bdf66ad0a312b8d82a70">Лунный камень</a></li>
          <li><a class="dropdown-item" href="/book/6123be3e6ad0a312b8d82a72">Мальтийский сокол</a></li>
        </ul>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Исторические</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book/6123bc446ad0a312b8d82a68">Три мушкетера</a></li>
          <li><a class="dropdown-item" href="/book/6123bc866ad0a312b8d82a6a">Капитанская дочь</a></li>
          <li><a class="dropdown-item" href="/book/6123bce86ad0a312b8d82a6c">Зулеха открывает глаза</a></li>
        </ul>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Детские</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/book/6123b6876ad0a312b8d82a62">Принц и нищий</a></li>
          <li><a class="dropdown-item" href="/book/6123bb596ad0a312b8d82a64">Алиса в стране чедес</a></li>
          <li><a class="dropdown-item" href="/book/6123bb956ad0a312b8d82a66">Сказки Гримм</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Читатели</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/user/6124dc943e80b80c78a2659f">Дейенерис Таргариен</a></li>
          <li><a class="dropdown-item" href="/user/6124de4e0c885c309cf1d884">Джон Сноу</a></li>
          <li><a class="dropdown-item" href="/user/6124de9d0c885c309cf1d886">Тирион Ланнистер</a></li>
          <li><a class="dropdown-item" href="/user/6124def10c885c309cf1d888">Ария Старк</a></li>
          <li><a class="dropdown-item" href="/user">Все читатели</a></li>
        </ul>
      </li>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Жанр, книга" aria-label="Search"/>
        <a href="/book"><button class="btn btn-primary" type="button">Поиск</button></a>
      </form>
    </div>
  </div>
</nav>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>