<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css"/>
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    {{>navbar}}
    {{{body}}}
    {{basement}}
    <p></p>
    <p></p>
    <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Khamzat995?tab=repositories">© 2021 Khamzat995</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
